<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3739358581-gkpdad3blbqrsbcb777uhnri0u44h7v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3739358581-gkpdad3blbqrsbcb777uhnri0u44h7v4</string>
	<key>API_KEY</key>
	<string>AIzaSyBnlHHUTK9MoFsAfS57feIEOW6NmT5IsZg</string>
	<key>GCM_SENDER_ID</key>
	<string>3739358581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ylinkee.gamerdual</string>
	<key>PROJECT_ID</key>
	<string>gamerdual-495e1</string>
	<key>STORAGE_BUCKET</key>
	<string>gamerdual-495e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3739358581:ios:448f4168027b1b9c06ef3c</string>
	<key>DATABASE_URL</key>
	<string>https://gamerdual-495e1.firebaseio.com</string>
</dict>
</plist>